body {
  min-height: 100vh;
  font-family: "Noto Sans", sans-serif;
  font-size: 62.5%;
}
#root {
  color: #333;
  font-size: 1.4rem;
}
/* ================== HEADER ================== */
#header {
  position: fixed;
  inset: 0 0 auto 0;
  background-color: transparent;
  z-index: 9999;
}
#header.show {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: rgba(255, 255, 255, 1);
}
.header-wrapper {
  padding: 27px 80px;
  display: flex;
  justify-content: space-between;
}
.header-logo {
  width: 180px;
  height: 46px;
  background-image: url("../../assets/images/Logo-black.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav-list {
  display: flex;
}
.header-nav-item {
}
.header-nav-link {
  position: relative;
  font-size: 1.3rem;
  font-weight: 300;
  color: inherit;
  display: block;
  margin: 0 12px;
  transition: all 0.4s ease;
}
.header-nav-link::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  left: 0;
  bottom: -4px;
  height: 2px;
  background-color: var(--primary-color);
  transition: all 0.3s ease-in;
}
.header-nav-link:hover {
  color: white;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.header-nav-link:hover::after {
  width: 100%;
  background-color: var(--secondary-color);
}
#header.show .header-nav-link:hover {
  color: black;
}
/* ================== HOME SECTION ================== */
#home-section {
  /* margin-top: var(--header-height); */
  /* height: calc(100vh - var(--header-height)); */
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/images/home-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}
.home-intro {
  width: 60%;
  color: white;
  margin-top: 14%;
}
.home-name {
  margin-bottom: 10px;
  color: white;
  font-size: 8rem;
  letter-spacing: 7px;
  text-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translateX(-50px);
  animation: textSlide 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
.home-title {
  font-size: 2.5rem;
  letter-spacing: 6px;
  text-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translateX(-50px);
  animation: textSlide 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  animation-delay: 0.3s;
}
.home-sub-title {
  font-size: 2rem;
  letter-spacing: 3px;
  text-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translateX(-50px);
  animation: textSlide 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  animation-delay: 0.6s;
}
@keyframes textSlide {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
/* ================== ABOUT US SECTION ================== */
#aboutUs-section {
  padding-top: 60px;
}
.slide-container {
  position: relative;
}
.slide-main-view {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.slide-list {
  display: flex;
}
.slide-item {
  width: 100%;
  flex-shrink: 0;
  position: relative;
  max-width: 1200px;
}
.slide-des {
  position: absolute;
  left: 40px;
  bottom: 40px;
}
.slide-des > h3 {
  color: white;
  font-size: 2rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.slide-des > h4 {
  font-size: 5rem;
  color: white;
  text-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
}
.slide-controls {
  position: absolute;
  inset: 0;
}
.slide-controls > div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4rem;
  color: #888;
  padding: 10px 20px;
  cursor: pointer;
}
.slide-controls > div > i {
  transition: all 0.4s ease;
}
.slide-controls > div:hover > i {
  color: var(--primary-color);
}
.left-btn {
  left: 10%;
}
.right-btn {
  right: 10%;
}

/* ================== PHOTOS SECTION ================== */
#photos-section {
  padding-top: 60px;
}
.photos-list {
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}
.photo-item {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}
.photo-item > img {
  display: block;
  width: 100%;
  object-fit: cover;
  transform: scale(1.01);
  height: 540px;
  transition: all 0.8s ease;
}
.photo-item:hover > img {
  filter: blur(3px);
  transform: scale(1.1);
}
.photo-item:hover .photo-overlay {
  background: rgba(0, 0, 0, 0.5);
}
.photo-item:hover .photo-overlay {
  transform: translateX(0);
  opacity: 1;
}
.photo-overlay {
  position: absolute;
  inset: 0;
  z-index: 10;
  color: white;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.6s ease;
}
.photo-des {
  position: absolute;
  bottom: 20px;
  left: 30px;
}
.photo-des > .name {
  font-size: 3rem;
  letter-spacing: 4px;
  margin-bottom: 20px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.6s ease;
}
.photo-des > .name:hover {
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
/* .photo-des > .birth {
} */
.photo-des > .contacts {
  margin-top: 20px;
  display: flex;
}
.contacts-item {
  width: 50px;
  height: 50px;
  display: block;
  margin-right: 12px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
}
.contacts-item:last-child {
  width: 70px;
  border-radius: 30px;
}
.contacts-item:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* ================== PLAYLIST SECTION ================== */
#playlist-section {
  padding-top: 60px;
}
.playlist-container {
  background-image: url("../../assets/images/playlist-bg-3.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 3000px 0 rgba(0, 0, 0, 0.3) inset;
}
.play-list-main {
  max-width: 1600px;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
  color: white;
}
.playlist-songs-wrapper {
  width: 60%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  padding: 40px 60px;
}
.playlist-songs-wrapper > .title {
  text-align: center;
  color: var(--secondary-color);
  margin-bottom: 40px;
}
.play-list > .item {
  display: flex;
  position: relative;
  padding: 14px 40px 14px 14px;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-radius: 12px;
  margin-bottom: 30px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: #333;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow: hidden;
}
.play-list > .item.active {
  color: white;
  background-image: linear-gradient(
    to right,
    var(--secondary-color),
    var(--primary-color)
  );
}

.play-list > .item:hover {
  color: white;
  background-image: linear-gradient(
    to right,
    var(--secondary-color),
    var(--primary-color)
  );
}

.item-head {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-head > .song-name {
  margin-left: 20px;
}
.item-thumb {
  width: 90px;
  height: 90px;
  border-radius: 12px;
  overflow: hidden;
}
.item-thumb > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.song-heart {
  color: #ccc;
}
.song-heart.active {
  color: rgb(214, 113, 113);
}

.playlist-controls {
  width: 35%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}
.playlist-ctls-thumb {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}
.playlist-ctls-thumb > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.playlist-ctls-name {
  font-size: 1.9rem;
  line-height: 0.8;
  font-weight: bold;
  margin-top: 30px;
}
.playlist-ctls-singer {
  margin-top: 12px;
  font-size: 1.4rem;
}
.playlist-ctls-duraction {
  width: 100%;
  margin-top: 30px;
}
.playlist-ctls-timer-wrapper {
  display: flex;
  width: 100%;
  margin-top: 4px;
  justify-content: space-between;
}

.playlist-ctls-main {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 12px;
  margin-top: 20px;
}
.playlist-ctls-main > div {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solide black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}
.prev-btn {
}
.play-btn {
  width: 80px !important;
  height: 80px !important;
}
.play-btn > i {
  display: none;
}
.play-btn > i.fa-play {
  display: block;
}
.play-btn.playing > i.fa-pause {
  display: block;
}
.next-btn {
}

/* ================== MUSIC VIDEOS SECTION ================== */
#mv-section {
  padding-top: 60px;
}

.mv-container {
}
.mv-video-frame {
  max-width: 1200px;
  margin: 0 auto;
}
.mv-video-frame > video {
  width: 100%;
  height: auto;
}
/* ================== FOOTER ================== */
#footer {
}
